.domainbarbadge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: none;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.section-29 {
  border-top: 0.5px solid #cfcfcf;
}

.collection-item-4 {
  display: inline-block;
  clear: none;
}

.collection-list-wrapper-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.domainbarareas {
  margin-top: 10px;
  margin-left: 5px;
  background-color: transparent;
}

.arealinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #c9c9c9;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.collection-list-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.domainbartitlle {
  padding: 10px;
  clear: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #333;
  font-size: 28px;
  text-decoration: none;
  white-space: nowrap;
}

.domainbartitlle:hover {
  color: #333;
  text-decoration: none;
}

.domainbararea {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.domainbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image {
  width: 24px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 12px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.image:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.body {
  height: 24px;
}

.html-embed {
  overflow: hidden;
  margin-left: 5px;
  color: #c9c9c9;
  white-space: nowrap;
}

.html-embed:hover {
  color: #333;
  text-decoration: underline;
}

.div-block-29 {
  margin-left: 10px;
}

.html-embed-3 {
  overflow: hidden;
  color: #c9c9c9;
  white-space: nowrap;
}

.text-block-3 {
  margin-top: 10px;
  margin-left: 10px;
  color: #333;
  font-size: 28px;
}

.html-embed-5 {
  margin-left: 5px;
  text-decoration: none;
}

.html-embed-5:hover {
  color: #333;
  text-decoration: underline;
}

.container {
  background-image: url('../images/background-bobbles.png');
  background-position: 50% 25%;
  background-size: cover;
}

.container-2 {
  background-image: url('../images/background-bobbles.png');
  background-position: 50% 25%;
  background-size: cover;
}

.link-block {
  color: #c9c9c9;
  text-decoration: none;
}

.link-block-2 {
  text-decoration: none;
}

.link-block-3 {
  text-decoration: none;
}

.html-embed-6 {
  margin-left: 10px;
  color: #c9c9c9;
}

.html-embed-6:hover {
  color: #333;
  text-decoration: underline;
}

.link-block-4 {
  text-decoration: none;
}

.text-block-4 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-3 {
  background-image: url('../images/background-bobbles.png');
  background-position: 50% 25%;
  background-size: cover;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-5 {
  color: #e0e0e0;
}

.text-block-6 {
  margin-right: 5px;
  margin-left: 5px;
  color: #e0e0e0;
  text-decoration: none;
}

.text-block-6:hover {
  color: #333;
  text-decoration: underline;
}

.link-block-5 {
  text-decoration: none;
}

.text-block-7 {
  color: #e0e0e0;
  text-decoration: none;
}

.text-block-7:hover {
  color: #333;
  text-decoration: underline;
}

.link-block-6 {
  margin-left: 10px;
  text-decoration: none;
}

.div-block-31 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-32 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-33 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* .section-30 {
  background-image: url('../images/background-bobbles.png');
  background-position: 50% 25%;
  background-size: cover;
} */

.div-block-34 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link {
  color: #e0e0e0;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.html-embed-7 {
  color: #e0e0e0;
}
.pipe{
  margin-left: 8px;
  margin-right: 8px;
}
.html-embed-8 {
  color: #aaaaaa;
  text-decoration: none;
  white-space: nowrap;
}

.link-block-7 {
  text-decoration: none;
  
}
.link-block-7:hover {
  text-decoration: underline;
}

.link-block-7.w--current {
  color: #000;
}

.link-block-7.w--current:hover {
  color: #000;
}

.html-embed-9 {
  color: #e0e0e0;
}

.html-embed-10 {
  color: #e0e0e0;
  text-decoration: none;
}

.html-embed-10:hover {
  color: #333;
}

.collection-list-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.link-block-8 {
  text-decoration: none;
}

.link-block-8:hover {
  color: #e0e0e0;
  text-decoration: underline;
}


.ms-fontSize-18 {
  font-size: 18px !important;
}